*{
    list-style-type: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    width: 90%;
    margin: 0 auto;
    display: block;
}

/* header */
.navbar-nav{
    margin-left: 20px;
}

.navbar-nav > li{
    margin-right: 25px;
}

/* main image */
.carousel-item{
    height: 350px;
}

.carousel-item > div{
    bottom: 7.25rem;
}

.main_text{
    font-weight: bold;
}
/* notice part */
.notice_part{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}


.notice_wrap{
    display: flex;
    flex-direction: column;
}


.notice_sub_title{
    font-size: 1rem;
}

.notice_title_wrap{
    display: flex;
    flex: 2;
    align-items: center;
}

.notice_title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 20px;
}

#notice_more{
    width: 40px;
    height: 40px;
}

.notice_content_wrap{
    display: flex;
    flex: 8;
    justify-content: center;
    margin: 30px 0;
}

.notice_card{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 20px;
    margin-left: 30px;
}
.notice_card > div{
    margin-bottom: 20px;
}

.notice_card_title{
    font-weight: bold;
}

.notice_card_date{
    color: rgb(150, 150, 150);
}

.notice_card:not(:last-child) {
    border-right: 1px solid #ccc;
}

.notice_part > nav{
    margin: 30px auto 0;
}
/* */
.media_part{
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.media_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media_title{
    font-size: 2.5rem;
    font-weight: bold;
}

.media_content{
    display: flex;
    width: 90%;
    margin: 40px auto;
    height: 550px;
    justify-content: space-between;
}

.kmma_youtube{
    flex: 5;
    margin-right: 40px;
}

.business{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.business_card{
    margin: 20px auto;
    width: 80%;
    height: 40%;
    display: flex;
    border-radius: 30%;
}

.business_card > img{
    height: 100%;
}

.business_card_body{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.business_card_body > div{
    margin: 0 auto;
    padding: 40px 0;
}

.business_card_text{
    font-size: 1.6rem;
    font-weight: bold;
}

.business_more{
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
}

/* logo slide */
.logo_part{
    height: 150px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.logo_wrap{
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}

.logoSlider{
    display: flex;
    overflow: hidden;
}

.logoSlider > li{
    float: left;
    margin-right: 40px;
}

.logoSlider img{
    width: 200px;
    height: 70px;
    padding: auto 0;
}

/* footer */
footer{
    height: 150px;
    background-color: rgb(57, 63, 77);
    display: flex;
    justify-content: flex-end;
}

.footer_wrap{
    margin-top: 40px;
    display: flex;
    margin-right: 110px;
}

.footer_add{
    color: white;
    margin-right: 50px;
}

.footer_img{
    background-image: url(/img/logo.png);
    background-size: cover;
    width: 170px;
    height: 75px;
}