*{
    list-style-type: none;
    font-family: 'Noto Sans KR', sans-serif;
}


body{
    width: 90%;
    margin: 0 auto;
    display: block;
}

header, #body{
    min-width: 375px;
}

.btn{
    cursor: pointer;
}

/* header */
.navbar-nav{
    margin-left: 50px;
    font-size: large;
}

.navbar-nav > li{
    margin-right: 25px;
}

.carousel{
    width: 100%;
}

@media(max-width: 767px){
    *{
        font-size: small;
    }
    .navbar>.container-fluid{
        width: 95%;
        margin-left: 0px;
    }
    .navbar-nav{
        font-size: large;
        margin-left: 0;
    }
    .navbar-nav > li{
        margin-right: 5px;
    }
    .carousel, .content_part, .rolling_wrap{
        width: 95%;
    }
    .carousel-inner{
        height: 180px;
        background-color: rgba(0, 0, 0, 0.744);
    }
}

/* main image */
.carousel-inner{
    background-color: rgba(0, 0, 0, 0.744);
}

.carousel-item{
    height: 300px;
}

.carousel-item > div{
    bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.532);
}

.main_text{
    font-weight: bold;
    font-size: 3rem;
}

@media(max-width: 767px){
    .carousel-item{
        height: 150px;
    }
    .carousel-item > div{
        bottom: 1rem;
        top: 2rem;
    }
    .main_text{
        font-weight: bold;
        font-size: 1.7rem;
    }
}
/* content part */
.content_part{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* notice part */
.notice_part{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0 40px;
    width: 100%;
}

@media(max-width: 1200px){
    .carousel-caption{
        font-size: 1rem;
    }
    .notice_content_wrap{
        margin: 0;
    }
    .login-signup-bt{
        font-weight: bold;
    }
    .content_part{
        flex-direction: column;
    }
    .notice_part{
        display: flex;
        flex-direction: column;
        padding: 30px 0px 0 0px;
        width: 100%;
    }

    .notice_title_wrap{
        padding-left: 15px;
        padding-top: 10px;
    }
    .media_part{
        margin-top: 30px;
    }
}

.notice_wrap{
    display: flex;
    flex-direction: column;
}

.notice_sub_title{
    font-size: 1rem;
}

.notice_title_wrap{
    display: flex;
    flex: 2;
    align-items: center;
}

.notice_title{
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px;
}

#notice_more{
    width: 40px;
    height: 40px;
}

.notice_content_wrap{
    display: flex;
    flex-direction: column;
    flex: 8;
    width: 100%;
    justify-content: center;
}

.notice_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 30px 0 15px;
    margin: 10px 0;
    cursor: pointer;
}

.notice_card_content{
    height: 130px;
    overflow: hidden;
}

@media(max-width: 685px){
    .notice_card_content{
        height: 100px;
    }
}

.notice_card_title{
    font-weight: bold;
}

.notice_card_date{
    color: rgb(150, 150, 150);
}

.notice_card:not(:first-child) {
    border-top: 1px solid #ccc;
}

.notice_part > nav{
    margin: 10px auto 0;
}

.index_img_wrap{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.index_img_wrap img{
    width: 190px;
    height: 255px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

@media(max-width: 767px){
    .index_img_wrap{
        padding-right: 10px;
    }
    .index_img_wrap img{
        width: 220px;
        height: 190px;
    }
}
@media(max-width: 600px){
    .index_img_wrap img{
        width: 220px;
        height: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media(max-width: 500px){
    .index_img_wrap img{
        width: 200px;
        height: 130px;
    }
}

/* */
.media_part{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.media_wrap{    
    width: 100%;
    padding: 30px 30px 0 30px;
    background-color: rgb(240, 240, 240);
}

@media(max-width: 767px){
    .media_wrap{
        width: 100%;
        padding: 10px 20px 0 20px;
    }
    .rolling_wrap, .media_content{
        width: 100%;
    }
    .media_part{
        width: 100%;
        padding-right: 15px;
    }
    .media_content{
        width: 100%;
    }
}

.media_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media_title{
    font-size: 2rem;
    font-weight: bold;
}

.media_content{
    display: flex;
    width: 90%;
    margin: 40px auto;
}

.kmma_youtube{
    flex: 5;
}

.business{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.business_card{
    margin: 0px auto 30px;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    border-radius: 30%;
}

.business_card > img{
    height: 100%;
}

.business_card_body{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.business_card_body > div{
    margin: 0 auto;
    padding: 40px 0;
}

.business_card_text{
    font-size: 1.6rem;
    font-weight: bold;
}

.business_more{
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
}

.card_hr{
    margin: 0 auto;
    width: 80%;
    height: 30px;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

/* logo slide */
.rolling_wrap{
    position: relative;
    width: 100%;
    min-height: 70px;
    height: 70px;
    margin: 50px auto 30px auto;
    overflow: hidden;
}

.rolling_wrap a{
    position: absolute;
    width: 180px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.rolling_wrap a img{
    width: 100%;
    height: 100%;
}

/* footer */

.d-flex{
    font-size: large; 
    color: gray; 
    display: flex;
    flex-direction: column;
}

.d-flex a{
    text-decoration: none;
    color: gray;
}

.name-mypage-bt{
    padding-top: 20px;
    width: auto;
    display: none;
    cursor: pointer;
}

.index_logout_bt{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    display: none;
    cursor: pointer;
}

.index_logout_bt p{
    width: 100%;
    display: none;
    cursor: pointer;
    text-align: right;
    cursor: pointer;
}

#footer_img_wrap{
    display: flex;
    justify-content: flex-start;
}

#index_notice_content0 img, #index_notice_content1 img, #index_notice_content2 img{
    display: none;
}

@media(max-width: 767px){
    #footer_img_loco{
        width: 150px;
    }
    .col-1{
        display: none;
    }
    .col-4{
        margin: 0 auto;
        width: 100%;
    }
}

.main_qr{
    display: flex;
    margin-top: 15px;
}

.main_qr > img{
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-left: 20px; 
}

.qr_content{
    font-size: 15px;
    padding-top: 10px;
    align-items: center;
    margin-left: 30px;
}

@media(max-width: 1000px){
    .qr_content{
        margin-left: 20px;
    }
    .main_qr > img{
        width: 90px;
        height: 90px;
    }
}

@media(max-width: 767px){
    .qr_content{
        font-size: 1.2rem;
    }
    .main_qr > img{
        width: 80px;
        height: 80px;
        margin-left: 30px;
    }
}

@media(max-width: 576px){
    .qr_content{
        margin-left: 10px;
    }
    .main_qr > img{
        margin-left: 10px;
    }
}

@media(max-width: 500px){
    .qr_content{
        margin-left: 5px;
        font-size: 1rem;
    }
    .main_qr > img{
        margin-left: 0px;
    }
}

@media(max-width: 430px){
    .qr_content{
        font-size: 0.8rem;
    }
}