/* 협회소개 - 인사말 */
.greetings_body{
    height: 1000px;
}

.greetings_wrap{
    width: 100%;
}

.greetings_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.title_text{
    font-size: 45px;
    font-weight: 400;
}

.title_under{
    margin-top: 15px;
    height: 2px;
    width: 100px;
    background-color: black;
}

.greetings_content{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
}

.greetings_content_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.greetings_img img{
    width: 300px;
}

.greetings_ment{
    height: 90%;
    font-size: 2.2rem;
    text-align: left;
    font-weight: 300;
}

.greetings_name{
    height: 10%;
    font-size: 1.4rem;
    text-align: right;
}

/* 협회소개 - 협회소개 */
.introduce_body{
    height: 100%;
}

.introduce_wrap{
    width: 100%;
}

.introduce_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.introduce_content{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce_content_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.first_intro_content, .second_intro_content{
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.second_intro_content{
    margin-left: 50px;
}

@media(max-width: 840px){
    .introduce_content_box{
        display: flex;
        flex-direction: column;
    }

    .first_intro_content, .second_intro_content{
        margin-left: 0;
    }

    .second_intro_content{
        margin-top: 30px;
    }
}
.content_title{
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.content_body{
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 200;
}

/* 조직도 */
.organization_body{
    height: 100%;
}

.organization_wrap{
    width: 100%;
}

.organization_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.organization_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.first_table_name{
    font-size: 30px;
    text-align: center;
}

.organization_content > table{
    margin-top: 30px;
    width: 80%;
    height: 400px;
    font-size: 1rem;
    text-align: center;
    border-collapse: collapse;
    align-items: center;
}

.organization_table th{
    font-size: 1.3rem;
    border: 1px solid;
    background-color: rgb(203, 223, 248);
    padding: 10px;
}

.organization_table tr{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 5px;
}

.organization_table td{
    font-size: 1.2rem;
    border: 1px solid;
}

.sec_organization_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_table_name{
    font-size: 30px;
    text-align: center;
}

.sec_organization_content > table{
    margin-top: 30px;
    width: 80%;
    height: 400px;
    font-size: 1rem;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
}

.organ_intro_table th{
    font-size: 1.3rem;
    border: 1px solid;
    background-color: rgb(203, 223, 248);
    padding: 15px;
}

.organ_intro_table tr{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 10px;
}

.organ_intro_table td{
    font-size: 1.2rem;
    border: 1px solid;
}

/* 정관 */
.article_body{
    height: 1400px;
}

.article_wrap{
    width: 100%;
}

.article_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.article_content{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_table{
    height: 800px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.article_table > ul > li{
    display: flex;
}

.article_table > ul > li > a{
    width: 20%;
    text-decoration: none;
    font-size: 1.5rem; 
    color: black;   
    padding: 30px;
}

.article_table > ul > li > div{
    width: 80%;
    overflow: auto;
    padding: 30px;
}


.second_article, .third_article, .fourth_article, .fifth_article, .sixth_article, .seventh_article, .eighth_article{
    display: none;
}

/* 오시는 길 */
.route_body{
    height: 1000px;
}

.route_wrap{
    width: 100%;
}

.route_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.route_content{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.route_address{
    font-size: 25px;
}

.route_content_box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

/* 주요사업 - 교육 */
.education_body{
    height: 1000px;
}

.education_wrap{
    width: 100%;
}

.education_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../img/subImage/1.jpg);
}

.education_content{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education_content_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    width: 80%;
    padding: 50px;
}

.education_name{
    text-align: center;
    font-size: 2rem;
}

.education_content_box img{
    margin-top: 30px;
    width: 90%;
}