/* 협회소개 - 인사말 */
.greetings_body{
    height: 100%;
}

.greetings_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title_out_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url(../img/subImage/1.jpg);
}

.title_text{
    font-size: 30px;
    font-weight: 400;
}

.title_under{
    margin-top: 15px;
    height: 2px;
    width: 100px;
    background-color: black;
}

.greetings_content{
    margin-top: 90px;
    margin-bottom: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
    min-width: 375px;
}

.greetings_content_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    padding: 70px 100px;
}

.greetings_img{
    margin: 0 auto;
}

.greetings_img img{
    width: 250px;
}

.greetings_ment{
    height: 90%;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
    margin-left: 25px;
}

.greetings_name{
    height: 10%;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
}

@media(max-width: 1000px){
    .greetings_content_box{
        padding: 50px;
        width: 90%;
    }

    .greetings_content{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .greetings_img img{
        width: 150px;
    }

    .greetings_ment{
        font-size: 1.3rem;
    }
    .greetings_name{
        font-size: 1rem;
    }

    .title_out_wrap{
        padding-top: 50px;
        padding-bottom: 30px;
        background-image: none;
        height: 80px;
        width: 95%;
        margin: 40px auto 0;
        min-width: 375px;
    }
}

@media(max-width: 767px){
    .greetings_content_box{
        flex-direction: column;
        align-items: center;
    }
    .greetings_ment{
        margin-top: 20px;
        text-align: center;
    }
    .greetings_name{
        margin-top: 15px;
        text-align: center;
    }
}


/* 협회소개 - 협회소개 */
.introduce_body{
    height: 100%;
}

.introduce_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.introduce_content{
    margin: 70px auto 70px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_intro_content, .second_intro_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 60px;
    height: 500px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.second_intro_content{
    margin-left: 40px;
    padding: 78px 60px;
}

.content_title{
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.content_body{
    margin-top: 1rem;
    font-size: 1.5em;
    font-weight: 200;
}

@media(max-width: 1290px){
    .introduce_content{
        display: flex;
        flex-direction: column;
    }

    .first_intro_content, .second_intro_content{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .second_intro_content{
        margin-top: 30px;
    }
    
    .greetings_img img{
        width: 200px;
    }
}

@media(max-width: 767px){
    .content_title{
        font-size: 1.1rem;
    }
    .content_body{
        font-size: 1rem;
    }
    .introduce_content{
        margin: 20px auto 70px auto;
    }
}

/* 조직도 */
.organization_body{
    height: 100%;
}

.organization_wrap{
    min-width: 375px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.organization_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.organization_main_table_name{
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}

.organization_main_table{
    margin-top: 30px;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    border-collapse: collapse;
    align-items: center;
    margin-bottom: 60px;
}

.organization_main_table th{
    font-size: 1.3rem;
    border: 1px solid;
    background-color: rgb(203, 223, 248);
    padding: 10px;
}

.organization_main_table tr{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 5px;
}

.organization_main_table td{
    font-size: 1.2rem;
    border: 1px solid;
}

@media(max-width: 767px){
    .organization_content{
        margin: 20px auto 40px auto;
        width: 90%;
    }
    .organization_main_table_name{
        font-size: 1.4rem;
    }
    .organization_main_table th{
        font-size: 1rem;
    }
    .organization_main_table td{
        font-size: 0.8rem;
    }
}

/* 정관 */
.article_body{
    height: 100%;
}

.article_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.article_content{
    display: flex;
    width: 90%;
    margin: 50px auto 50px;
}

.article_content_tabname{
    flex: 2;
}

.article_tabname_active{
    display: flex;
    height: 100px;
    color: red;
    border: 1.5px solid red;
    background-color: white;
    justify-content : center;
    align-items : center;
    cursor: pointer;
    font-size: 1.3rem;
}

.article_content_tabname_style{
    display: flex;
    height: 100px;
    border: 0.5px solid rgba(128, 128, 128, 0.21);
    background-color: rgba(189, 189, 189, 0.199);
    justify-content : center;
    align-items : center;
    cursor: pointer;
    font-size: 1.3rem;
    color: rgba(48, 48, 48, 0.8);
}

.article_content_tab_content{
    flex: 8;
}

.article_content_tab_content > div{
    padding: 40px;
    border: 0.5px solid rgba(128, 128, 128, 0.21);
    height: 800px;
}

.article_content_tab_content > div > div{
    overflow-y: scroll;
    color: rgba(48, 48, 48, 0.8);
    height: 720px;
}

.tab_content_margin h3{
    color: rgb(210, 19, 19);
    font-size: 1.5rem;
}

.tab_content_margin h4{
    color: black;
}

@media(max-width : 767px){
    .article_content{
        width: 95%;
        margin: 20px auto;
    }
    .article_content_tabname > div{
        font-size: 1rem;
        padding: 10px;
    }
    .article_content_tab_content > div{
        padding: 25px;
    }
    .article_tabname_active{
        font-size: 1rem;
    }
    .article_content_tabname_style{
        font-size: 1rem;
    }
    .tab_content_margin h3{
        font-size: 1.1rem;
    }
    .tab_content_margin h4{
        font-size: 1.1rem;
    }
    .tab_content_margin p{
        font-size: 0.8rem;
    }
}

/* 오시는 길 */
.route_body{
    height: 100%;
}

.route_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.route_content{
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
}

.route_address{
    font-size: 25px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route_content_box{
    margin: 20px auto 10px;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.route_content_box iframe{
    width: 100%;
}

@media (max-width: 767px){
    .route_address{
        font-size: 20px;
    }
}
@media (max-width: 600px){
    .route_address{
        font-size: 17px;
    }
}

/* 주요사업 - 교육 */
.education_body{
    height: 100%;
}

.education_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.education_content_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education_content_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    width: 80%;
    margin-top: 50px;
}

.education_name{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.education_content_box img{
    margin-top: 30px;
    width: 90%;
}

.research_fellow_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    width: 80%;
    padding: 30px;
}

.fellow_table_name{
    font-size: 30px;
    text-align: center;
}

.research_fellow_content > table{
    margin-top: 30px;
    width: 80%;
    height: 400px;
    font-size: 1rem;
    text-align: center;
    border-collapse: collapse;
    align-items: center;
}

.research_fellow_table th{
    font-size: 1.3rem;
    border: 1px solid;
    background-color: rgb(203, 223, 248);
    padding: 10px;
}

.research_fellow_table tr{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 5px;
}

.research_fellow_table td{
    font-size: 1.2rem;
    border: 1px solid;
}

.fellow_intro_content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    width: 80%;
    padding-top: 30px;
    margin-bottom: 60px;
}

.fellow_intro_table_name{
    font-size: 30px;
    text-align: center;
}

.fellow_intro_content > table{
    margin-top: 30px;
    width: 80%;
    height: 400px;
    font-size: 1rem;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
}

.fellow_intro_table th{
    font-size: 1.3rem;
    border: 1px solid;
    background-color: rgb(203, 223, 248);
    padding: 15px;
}

.fellow_intro_table tr{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 10px;
}

.fellow_intro_table td{
    font-size: 1.2rem;
    border: 1px solid;
}

@media(max-width: 767px){
    .education_content_box{
        margin-top: 20px;
        width: 90%;
    }
    .education_name, .fellow_table_name, .fellow_intro_table_name{
        font-size: 20px;
    }
    .education_content_box img{
        margin-top: 15px;
    }
    .research_fellow_content{
        margin-top: 30px;
        width: 90%;
    }
    .fellow_intro_content{
        width: 90%;
    }
    .research_fellow_content > table{
        width: 100%;
    }
    .fellow_intro_content > table{
        width: 90%;
    }
    .research_fellow_table th, .fellow_intro_table th{
        font-size: 1rem;
    }
    .research_fellow_table tr, .research_fellow_table td, .fellow_intro_table tr, .fellow_intro_table td{
        font-size: 0.8rem;
    }
}
/* 정책 */
.policy_body{
    height: 100%;
}
.policy_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.policy_content{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* 홍보 */
.promotion_body{
    height: 100%;
}

.promotion_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.promotion_content{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.firstPro, .secondPro{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.promotion1, .promotion2, .promotion3, .promotion4{
    width: 48%; 
    margin: 0px 5px 0px 5px;
    padding: 20px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.promotion_content img{
    width: 100%;
    height: 100%;
}

@media(max-width: 767px){
    .promotion_content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .firstPro, .secondPro{
        width: 95%;
    }
    .secondPro{
        margin-top: 10px;
    }
}

/* 공지사항 */
.notice_body{
    height: 100%;
}

.notice_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.notice_content{
    margin: 40px auto 50px auto;
    width: 90%;
}

.notice_search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice_search_area{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.notice_write_bt_wrap{
    width: 10%;
}

.notice_write_bt_wrap button{
    border-radius: 2px;
    width: 80px;
    height: 30px;
    border: 1px solid rgb(176, 176, 176);
    background-color: white;
}

.notice_search_select{
    height: 30px;
    width: 70px;
}

.notice_search_input{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.notice_search_input_box{
    height: 30px;
    width: 200px;
}

.notice_search_input_bt{
    border-radius: 2px;
    height: 30px;
    width: 60px;
    margin-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    background-color: white;
}

.notice_list{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid rgb(86, 86, 86);
}

.notice_list a{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
}

.notice_list div{
    color: black;
}

.notice_list_title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    padding-left: 40px;
    border-bottom: 1px solid black;
}

.notice_list_time{
    padding-top: 23px;
    padding-bottom: 20px;
    padding-right: 40px;
    text-align: right;
    border-bottom: 1px solid black;
}

.notice_list a > div{
    width: 100%;
}

.notice_page_num{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#pageNav2{
    display: none;
}

@media (max-width: 767px){
    .notice_search{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .notice_search_area{
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
}

@media(max-width: 600px){
    .notice_list_title{
        font-size: 1rem;
        padding-left: 20px;
    }

    .notice_list_time{
        padding-right: 20px;
    }
}

/* 활동소식 및 보도자료 */
.news_body{
    height: 100%;
}

.news_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.news_content{
    margin: 40px auto 50px auto;
    width: 90%;
}

.news_search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news_search_area{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.news_write_bt_wrap{
    width: 10%;
}

.news_write_bt_wrap button{
    border-radius: 2px;
    height: 30px;
    width: 80px;
    border: 1px solid rgb(176, 176, 176);
    background-color: white;
}

.news_search_select{
    height: 30px;
    width: 70px;
}

.news_search_input{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.news_search_input_box{
    height: 30px;
    width: 200px;
}

.news_search_input_bt{
    border-radius: 2px;
    height: 30px;
    width: 60px;
    margin-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    background-color: white;
}

.news_list{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid rgb(86, 86, 86);
}

.news_list a{
    text-decoration: none;
    color: black;
}

.news_list_header{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news_list_title{
    font-size: 1.5rem;
    font-weight: 400;
}

.news_list_time{
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 20px;
}

.news_list_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    padding-top: 10px;
    font-weight: 200;
    font-size: 1rem;
}

#news_list_content0 img, #news_list_content1 img, #news_list_content2 img, #news_list_content3 img, #news_list_content4 img{
    display: none;
}

.news_page_num{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width: 767px){
    .news_search{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .news_search_area{
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
}

/* 회원 등록 */
.registration_body{
    width: 100%;
    height: 100%;
}

.registration_body_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_wrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_input{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration_first_input{
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.member_name input, .member_email input, .member_telnum input, .member_phonenum input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
}

.registration_input h4{
    margin-top: 20px;
    font-size: 1.4rem;
}

.member_type{
    display: flex;
    flex-direction: row;
}

.member_type h4{
    margin-top: 0;
    font-size: 1.4rem;
}

.member_division{
    display: flex;
    flex-direction: row;

}
.member_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member_name h4{
    width: 20%;
}

.member_name_input{
    padding-top: 15px;
    width: 80%;
}

#member_name_eng{
    margin-top: 7px;
}

.member_birth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.member_birth h4{
    width: 20%;
}

.member_house_address_wrap, .member_company_address_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member_house_address h4{
    margin-top: 0px;
}

.member_house_address_wrap input, .member_company_address_wrap input{
    width: 68%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
}

#member_house_detail_address, #member_company_detail_address{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 10px;
}

.member_birth input{
    width: 80%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 10px;
}

.member_house_address_wrap button, .member_company_address_wrap button{
    width: 30%;
}

.business_number h4, .member_rank h4, .member_company_address h4, .member_company_address h4, .member_main_career h4{
    margin-top: 20px;
}

.company_name input, .business_number input, .member_rank input, .member_main_career input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0 10px;
}

.registration_sub_bt{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.registration_sub_bt button{
    width: 30%;
    height: 50px;
    font-size: 1.3rem;
}

/* 로그인 */
.login_body{
    width: 100%;
    height: 100%;
}

.login_body_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_body_title{
    font-size: 2.5rem;
    margin-top: 60px;
}

.login_wrap{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 450px;
    text-align: left;
    padding: 40px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.login_main_id h4{
    font-size: 1.3rem;
}

.login_main_id input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
}

.login_main_pw{
    margin-top: 40px;
}

.login_main_pw h4{
    font-size: 1.3rem;
}

.login_main_pw input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
}

.login_main_bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

#login_main_bt{
    width: 200px;
    height: 40px;
}

#signup_main_bt{
    width: 200px;
    height: 40px;
    margin-left: 10px;
}

/* 회원가입 */
.signup_body{
    width: 100%;
}

.signup_body_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_body_title{
    font-size: 2.5rem;
    margin-top: 50px;
}

.signup_wrap{
    background-color: white;
    width: 90%;
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup_wrap_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.essential_input{
    width: 48%;
    padding: 30px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.essential_input h3, .select_input h3{
    font-size: 1.6rem;
    text-align: center;
}

.signup_address_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup_id{
    margin-top: 20px;
}

.signup_id_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.signup_id_input_wrap{
    display: flex;
    flex-direction: column;
    width: 67%;
}

.signup_id_input_wrap p, .signup_pw p, .signup_pw_check p, .signup_tel p{
    padding-left: 10px;
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
}

.signup_id_wrap button{
    height: 40px;
    width: 30%;
}

.select_input{
    width: 48%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
}

.signup_address_wrap input{
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
    width: 70%;
}

#signup_detail_address{
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
}

#signup_address_bt{
    height: 40px;
    margin-left: 10px;
    font-size: 1em;
    width: 30%;
}

.signup_id input{
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
}

.signup_pw input, .signup_pw_check input, .signup_email input, .signup_tel input, .signup_along input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
}

.signup_pw h4, .signup_pw_check h4, .signup_email h4, .signup_tel h4{
    margin-top: 15px;
    font-size: 1.3rem;
}

.signup_along h4, .signup_address h4{
    margin-top: 14px;
    font-size: 1.3rem;
}

.signup_enterprise{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.signup_enterprise h4{
    font-size: 1.3rem;
}

.signup_enterprise_check{
    display: flex;
    flex-direction: column;
}

#_no_check{
    margin-top: 10px;
}

.form-check{
    margin-left: 35px;
}

.signup_sub_bt{
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding: auto 50px;
}

#nonsignup_sub_bt{
    height: 50px;
    width: 48%;
}

#signup_sub_bt{
    height: 50px;
    width: 48%;
    font-size: 1.1rem;
}

#signup_id_inform, #signup_pw_inform, #signup_check_pw_inform, #signup_email_inform, #signup_tel_inform{
    color: red;
}

@media(max-width: 767px){
    .signup_address_wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .signup_address_wrap input{
        width: 100%;
    }
    
    #signup_address_bt{
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
    .signup_wrap{
        background-color: white;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: center;
    }

    .signup_wrap_content{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .essential_input{
        width: 100%;
    }

    .select_input{
        width: 100%;
        margin-top: 30px;
    }

    .signup_sub_bt{
        margin-top: 10px;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
    
    #nonsignup_sub_bt{
        height: 50px;
        width: 80%;
        margin: 0 auto;
    }
    
    #signup_sub_bt{
        height: 50px;
        width: 80%;
        margin: 10px auto 0px auto;
        font-size: 1.1rem;
    }
}


/*공지사항 게시물 세부사항 */
.post_details_body{
    height: 100%;
}

.post_details_wrap{
    width: 100%;
    justify-content: center;
}

.post_details_content_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    padding: 50px 40px;
    margin: 60px auto 0px auto;
}

.post_details_title{
    height: 100%;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(127, 126, 126);
    border-bottom: 2px solid rgb(127, 126, 126);
}

.post_upload_time{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.post_user_name_picture{
    display: flex;
    flex-direction: row;
}

.post_user_name_picture img{
    width: 20px;
    height: 20px;
}

.post_user_name_picture > div{
    margin-left: 10px;
}

.post_details_content{
    margin: 50px auto 0px auto;
    width: 75%;
    font-size: 1.2rem;
    padding-bottom: 100px;
}

.post_details_content img{
    width: 50%;
    margin: 0 auto;
}

.post_edit_bt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    justify-content: space-between;
    width: 80%;
}


.news_post_edit_bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}


.post_list_link{
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.before_post_link{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 90%;
    margin: 0 auto;
    padding: 15px; 
    cursor: pointer;
}

.before_post_link_bt_wrap{
    display: flex;
    flex-direction: row;
}

.before_post_link_bt{
    display: flex;
    flex-direction: row;
}

.before_post_link_bt img{
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.before_post_link_name{
    padding: 0px 0px 0px 5px;
}

.before_post_title{
    padding-left: 50px;
}

.before_post_time{
    padding-left: 30px;
}

.next_post_link{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(184, 184, 184);
    width: 90%;
    margin: 0 auto;
    padding: 15px; 
    cursor: pointer;
}

.next_post_link_bt_wrap{
    display: flex;
    flex-direction: row;
}

.next_post_link_bt{
    display: flex;
    flex-direction: row;
}

.next_post_link_bt img{
    width: 30px;
    height: 30px;
}

.next_post_link_name{
    padding: 0px 0px 0px 5px;
}

.next_post_title{
    padding-left: 50px;
}

.next_post_time{
    padding-left: 30px;
}

@media(max-width: 772px){
    .before_post_time{
        display: none;
    }

    .next_post_time{
        display: none;
    }
}

@media(max-width: 585px){
    .post_user_name{
        display: none;
    }

    .post_details_title{
        padding-top: 10px;
    }
}

@media(max-width: 575px){
    .before_post_link{
        justify-content: center;
    }

    .before_post_title{
        display: none;
    }

    .next_post_link{
        justify-content: center;
    }

    .next_post_title{
        display: none;
    }
}


/* 활동소식 게시글 세부사항 */

.article_details_content_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    padding: 50px 40px;
    margin: 60px auto 0px auto;
}

.article_details_title{
    height: 100%;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(127, 126, 126);
    border-bottom: 2px solid rgb(127, 126, 126);
}

.article_details_title{
    height: 100%;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(127, 126, 126);
    border-bottom: 2px solid rgb(127, 126, 126);
}

.article_upload_time{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.article_user_name_picture{
    display: flex;
    flex-direction: row;
}

.article_user_name_picture img{
    width: 20px;
    height: 20px;
}

.article_user_name_picture > div{
    margin-left: 10px;
}

.article_details_content{
    margin-top: 50px;
    width: 75%;
    font-size: 1.2rem;
    padding-bottom: 100px;
}

/* 마이페이지 */

.mypage_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mypage_body_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage_body_title{
    font-size: 2.5rem;
    margin-top: 60px;
}

.mypage_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    margin-top: 40px;
    padding: 40px;
}

.mypage_basic_information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mypage_member_img img{
    width: 100px;
    padding-right: 20px;
}

.mypage_member_name{
    padding-left: 20px;
}

.mypage_member_name_id{
    font-size: 1.6rem;
}

.mypage_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage_email_name{
    margin-top: 30px;
    font-size: 1.3rem;
}

.mypage_phone_name, .mypage_department_name, .mypage_department_name, .mypage_address_name, .mypage_companyYn_name{
    margin-top: 20px;
    font-size: 1.3rem;
}

.mypage_email{    
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    background-color: #f7f5f5bc;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.mypage_phone, .mypage_department, .mypage_address, .mypage_companyYn{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    background-color: #f7f5f5bc;
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.mypage_edit_bt{
    margin-top: 30px;
    width: 60%;
}

.mypage_edit_bt button{
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
}

input:disabled {
    background: #f0f0f0;
}


/*게시물 작성*/
.writeNotice_body{
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.make_notice_wrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
}

.make_notice_title{
    padding-bottom: 30px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.make_notice_title p{
    width: 29%;
    font-size: 1.6rem;
    text-align: right;
}

.make_notice_title input{
    width: 69%;
    height: 40px;
}

.make_notice_bt{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}


/* 마이페이지 수정 */
.edit_mypage_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit_mypage_body_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_mypage_body_title{
    font-size: 2.5rem;
    margin-top: 60px;
}

.edit_mypage_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    margin-top: 40px;
    padding: 40px;
}

.edit_mypagecontent_wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.editPage_id_wrap, .editPage_email_wrap, .editPage_tel_wrap, .editPage_department_wrap, .editPage_detail_address_wrap, .editPage_enterprise_wrap, .edit_enterprise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#editPage_id{
    font-size: 1.1rem;
}

.editPage_email_wrap input, .editPage_tel_wrap input, .editPage_department_wrap input, .editPage_address_wrap input, .editPage_detail_address_wrap input{ 
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding: 0 10px;
    height: 35px;
}

.editPage_address_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.editPage_wrap_title{
    width: 15%;
    font-size: 1.1rem;
    text-align: right;
}

#editPage_id, .editPage_email_content_wrap, .editPage_tel_content_wrap, #editPage_department, .editPage_address_input_wrap, #editPage_detail_address, .edit_enterprise{
    width: 70%;
}

.editPage_address_input_wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editPage_address{
    width: 70%;
}

#edit_address_bt{
    width: 27%;
}

#editPage_tel, #editPage_email{
    width: 100%;
}

.edit_enterprise{
    margin-top: 0px;
}

#yes_check{
    width: 20%;
    margin-left: 5px;
}

#no_check{
    width: 80%;
}

.edit_complete_bt_wrap{
    margin: 50px auto 0px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_complete_bt_wrap button{
    width: 25%;
    height: 50px;
    font-size: 1.2rem;
}

#secession_bt{
    color: rgb(214, 23, 23);
}


/* 비밀번호 확인 페이지( 수정 페이지로 넘어감 ) */
.checkPw_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkPw_body_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkPw_body_title{
    font-size: 2.5rem;
    margin-top: 60px;
}

.checkPw_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    margin-top: 40px;
    padding: 60px 50px;
}

.checkPw_title{
    font-size: 1.5rem;
}

#check_pw_input{
    width: 45%;
    height: 40px;
    margin-top: 30px;
    border-radius: 7px;
    border: 1px solid rgb(65, 65, 65);
    padding-left: 10px;
}

#check_pw_bt{
    width: 45%;
    height: 40px;
    margin-top: 30px;
}

#notice_link9{
    display: none;
}

.page-item{
    text-align: center;
    width: 60px;
    cursor: pointer;
}

.page-link{
    color: black;
    border: 1px solid rgb(214, 214, 214);
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
}
 
#noticePage1, #articlePage1{
    background-color: rgb(214, 214, 214);
}

.loadingBody{
    width: 100%;
    height: 100%;
    align-items: center;
}

.loadingWrap{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loadingBody img{
    width: 50px;
    height: 50px;
    margin: 40px auto 0px auto;
}

.loadingBody p{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 40px;
}

.post_details_content img{
    width: 5px;
    padding: 0;
}

/* 자료실 */
.data_body{
    height: 100%;
}

.data_wrap{
    width: 100%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.data_content{
    margin: 40px auto 0px auto;
    width: 90%;
}

.data_search{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 0 auto;
}

.data_list{
    margin: 30px auto 0px auto;
    width: 90%;
    border-top: 3px solid rgb(86, 86, 86);
}

.data_list a{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
}

.data_list div{
    color: black;
}

.data_list_title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    padding-left: 40px;
    border-bottom: 1px solid black;
}

.data_list_time{
    padding-top: 23px;
    padding-bottom: 20px;
    padding-right: 40px;
    text-align: right;
    border-bottom: 1px solid black;
}

.data_list a > div{
    width: 100%;
}

.data_page_num{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}


/* 데이터 세부사항 */

.data_details_body{
    height: 100%;
}

.data_details_wrap{
    width: 100%;
    justify-content: center;
}

.data_details_content_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid rgba(66, 65, 65, 0.2);
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    padding: 50px 40px;
    margin: 60px auto 0px auto;
}

.data_details_title{
    height: 100%;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(127, 126, 126);
    border-bottom: 2px solid rgb(127, 126, 126);
}

.data_upload_time{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.data_user_name_picture{
    display: flex;
    flex-direction: row;
}

.data_user_name_picture img{
    width: 20px;
    height: 20px;
}

.pdata_user_name_picture > div{
    margin-left: 10px;
}

.data_details_content{
    margin: 50px auto 0px auto;
    width: 75%;
    font-size: 1.2rem;
    padding-bottom: 100px;
}

.data_file{
    font-size: smaller;
    text-decoration: underline;
    border: 1.5px solid black;
    margin: 0 auto;
    padding: 17px 40px;
    line-height: 40px;
}

.data_file a{
    cursor: pointer;
}

.data_file a:hover{
    font-weight: bold;
}

.data_details_content img{
    width: 50%;
    margin: 0 auto;
}

.data_content{
    width: 100%;
}

.data_edit_bt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    margin: 30px auto;
    justify-content: flex-end;
    width: 80%;
}


/* 데이터 작성 페이지 */

.writeData_body{
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.make_data_wrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
}

.make_data_title{
    width: 90%;
    font-size: 1.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.make_data_title input{
    font-size: 1.4rem;
    width: 60%;
    margin-top: 0;
}

.make_data_form {
    width: 80%;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_file{
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
    font-size: large;
}

.upload_file form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload_file input{
    width: 70%;
}

.add_upload_file{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    margin: 10px auto 0 auto;
}

#upload_content{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#uploadForm{
    font-size: 1.4rem;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.formFile{
    font-size: 1rem;
    margin-top: 10px;
}

#upload_content{
    height: 250px;
    width: 70%;
    margin: 0 auto;
}

.make_data_bt{
    width: 78%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.before_regi_wrap{
    width: 80%;
    height: 100%;
    padding: auto 10px;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 20px 0;
}

.before_regi_text{
    margin: 20px 0;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.before_regi_wrap div{
    width: 100%;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}

.before_regi_wrap textarea{
    padding: 15px;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    resize: none;
}

.before_regi_accept, .before_regi_btn{
    text-align: right;
}

.before_regi_btn > button{
    width: 200px;
}

@media(max-width: 767px){
    .before_regi_wrap{
        width: 90%;
    }
}